<html> 
<% include partials/head %>

<body class="container">
    <% include partials/nav %>
    <div class="jumbotron text-center">
        <h1>Make a new poll!</h1>

Test</a></p>
    </div>
</body>
 </html>